#trafficlight {
	width: 300px;
	height: 300px;
	background-color: #fff;

	margin: 10px 20px;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

#trafficlight p {
	font-size: 20px;
	font-weight: bold;
}

#trafficlight .lights {
	height: 200px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

	padding: 15px;
	background-color: #3c3c3c;
}

#trafficlight .lights span {
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 25px;
}

#trafficlight .lights .red {
	background-color: #cc3232;
}

#trafficlight .lights .yellow {
	background-color: #e7b416;
}

#trafficlight .lights .green {
	background-color: #2dc937;
}

#trafficlight .lights span {
	opacity: 0.25;
}

#trafficlight .lights .active {
	opacity: 1.0;
}